@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

body{
    margin: 0;
    font-family: 'Dongle', sans-serif;
}
header{
    background-color: #272727;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 2em 0;
    margin-bottom: 20px;
}
header h1, header span{
    margin: 0;
    line-height: 0.8;
    letter-spacing: 0;
}
header h1{
    font-size: 6em;
}
header span{
    font-size: 2em;
    font-weight: 500;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    padding: 0 50px;
    max-width: 1200px;
    flex-grow: 1;
}
