.story-row{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0 1rem;
    font-size: 13pt;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
}
.story-row:last-of-type{
    border-bottom: 0;
}
.story-row:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.story-title{
    margin-right: 5px;
}
.story-author{
    color: #999;
}
.story-date{
    color: #333;
    margin-left: auto;
}
.story-delete{
    margin-left: 20px;
    padding-top: 5px;
    opacity: 0;
}
.story-row:hover .story-delete{
    transition: 0.3s;
    opacity: 1;
}